<div class="col-lg-12"  ng-controller="homeController">
    <div class="container">

        <div class="col-lg-12">
            <button class="btn btn-success" ng-click="addNewTrade()">Add Trade</button>
            <button class="btn btn-info"    ng-click="getLastTrades()">Get last 100 Trades</button>
            <button class="btn btn-warning" ng-click="refreshTrades()">Refresh Trades</button>
        </div>

        <hr>


        <div class="col-lg-12">
            <table id="users-table" class="tablesorter table table-striped" datatable="ng" dt-options="dtOptionsProd">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Trade Time</th>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in trades">
                    <td>{{item.id}}</td>
                    <td>{{item.trade_time}}</td>
                    <td>{{item.symbol}}</td>
                    <td>{{item.price | currency : '$' : 2}}</td>
                    <td>{{item.quantity}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="col-lg-12">Add Trade: Adds a new record to Trade Table <i class="fa fa-question btn-success-icon"></i></div>
        <div class="col-lg-12">Get last 100 Trades: Gets the Top Trades records<i class="fa fa-question btn-info-icon"></i></div>
        <div class="col-lg-12">Refresh Trades: Updates Top Trades Table with the new trades<i class="fa fa-question btn-warning-icon"></i></div>



    </div>
</div>
